Are there any CCAA of more aged population? 

age group

In [200]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

- People with at least 1 dose ≥80 years
- Population INE≥80 years


https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov/documentos/Informe_GIV_comunicacion_20210604.pdf

In [249]:
one = pd.read_excel('../../spreadsheets/informe_20210602.ods', engine="odf", sheet_name=3)
two = pd.read_excel('../../spreadsheets/informe_20210602.ods', engine="odf", sheet_name=4)

- one: data for at least one dose
- two: data for two doses

In [250]:
one = one.rename(columns={"Unnamed: 0": "ccaa"})
two = two.rename(columns={"Unnamed: 0": "ccaa"})

one = one[one['ccaa'] != 'Fuerzas Armadas'].dropna()
two = two[two['ccaa'] != 'Fuerzas Armadas'].dropna()

# Preprocessing

In [251]:
# simplify header names
one.columns = [col.replace('Personas con al menos 1 dosis', 'vax1_').replace('años', '').replace('Población INE', 'pop_').strip() for col in one.columns]

In [252]:
# NOT WORKING AT ALL WHY???
# one.rename({'%': '≥80_%', 
#                  '%.1': '70-79_%', 
#                 '%.2': '60-69_%', 
#                 '%.3': '50-59_%', 
#                 '%.4': '25-49_%',
#                 '%.5': '18-24_%', 
#                 '%.6': '16-17_%'},inplace=True)

In [253]:
one.head()

,ccaa,vax1_ ≥80,pop_≥80,%,vax1_ 70-79,pop_70-79,%.1,vax1_ 60-69,pop_60-69,%.2,...,%.4,18-24,pop_18-24,%.5,16-17,pop_16-17,%.6,Total vax1_,Total pop_ Población a Vacunar (1),% Con al menos 1 dosis sobre Población a Vacunar INE
0,Andalucía,"429,873.000",413516,1.0,"639,607.000",650381,0.983,"826,677.000",916147,0.902,...,0.131,"39,420.000",625846,0.063,536.000,181921,0.003,"3,210,976.000",7062213,0.455
1,Aragón,"100,349.000",98807,1.0,"116,849.000",118955,0.982,"142,203.000",156367,0.909,...,0.143,"6,826.000",89180,0.077,62.000,25106,0.002,"552,388.000",1132764,0.488
2,Asturias,"88,104.000",87826,1.0,"112,644.000",109249,1.0,"136,065.000",149652,0.909,...,0.142,"4,616.000",54179,0.085,53.000,15563,0.003,"500,469.000",901209,0.555
3,Baleares,"50,353.000",49542,1.0,"76,117.000",80516,0.945,"94,320.000",117231,0.805,...,0.12,"4,453.000",85839,0.052,43.000,23300,0.002,"388,433.000",986279,0.394
4,Canarias,"90,646.000",90236,1.0,"145,522.000",154531,0.942,"201,159.000",235092,0.856,...,0.149,"8,114.000",163899,0.05,87.000,44352,0.002,"784,950.000",1871033,0.42

## Select only needed column

In [225]:
col_names = one.columns[1:].to_list()

In [226]:
for i in range(len(col_names)):
    if 3*i+1 < len(col_names):
        print(col_names[1 + 3*i])

pop_≥80
pop_70-79
pop_60-69
pop_50-59
pop_25-49
pop_18-24
pop_16-17
Totalpop_PoblaciónaVacunar(1)

In [259]:
col_names

['vax1_≥80',
 'pop_≥80',
 '%',
 'vax1_70-79',
 'pop_70-79',
 '%.1',
 'vax1_60-69',
 'pop_60-69',
 '%.2',
 'vax1_50-59',
 'pop_50-59',
 '%.3',
 'vax1_25-49',
 'pop_25-49',
 '%.4',
 '18-24',
 'pop_18-24',
 '%.5',
 '16-17',
 'pop_16-17',
 '%.6',
 'Totalvax1_',
 'Totalpop_PoblaciónaVacunar(1)',
 '%Conalmenos1dosissobrePoblaciónaVacunarINE']

In [260]:
for i in range(len(col_names)):
    if 3*i < len(col_names):
        print(col_names[3*i])

vax1_≥80
vax1_70-79
vax1_60-69
vax1_50-59
vax1_25-49
18-24
16-17
Totalvax1_

In [276]:
one

,ccaa,vax1_ ≥80,pop_≥80,%,vax1_ 70-79,pop_70-79,%.1,vax1_ 60-69,pop_60-69,%.2,...,%.4,18-24,pop_18-24,%.5,16-17,pop_16-17,%.6,Total vax1_,Total pop_ Población a Vacunar (1),% Con al menos 1 dosis sobre Población a Vacunar INE
0,Andalucía,"429,873.000",413516,1.0,"639,607.000",650381,0.983,"826,677.000",916147,0.902,...,0.131,"39,420.000",625846,0.063,536.000,181921,0.003,"3,210,976.000",7062213,0.455
1,Aragón,"100,349.000",98807,1.0,"116,849.000",118955,0.982,"142,203.000",156367,0.909,...,0.143,"6,826.000",89180,0.077,62.000,25106,0.002,"552,388.000",1132764,0.488
2,Asturias,"88,104.000",87826,1.0,"112,644.000",109249,1.0,"136,065.000",149652,0.909,...,0.142,"4,616.000",54179,0.085,53.000,15563,0.003,"500,469.000",901209,0.555
3,Baleares,"50,353.000",49542,1.0,"76,117.000",80516,0.945,"94,320.000",117231,0.805,...,0.12,"4,453.000",85839,0.052,43.000,23300,0.002,"388,433.000",986279,0.394
4,Canarias,"90,646.000",90236,1.0,"145,522.000",154531,0.942,"201,159.000",235092,0.856,...,0.149,"8,114.000",163899,0.05,87.000,44352,0.002,"784,950.000",1871033,0.42
5,Cantabria,"42,004.000",41042,1.0,"55,307.000",53066,1.0,"71,064.000",77345,0.919,...,0.135,"1,826.000",34935,0.052,9.000,10791,0.001,"245,515.000",501384,0.49
6,Castilla y Leon,"227,934.000",223657,1.0,"247,408.000",245410,1.0,"302,325.000",318575,0.949,...,0.136,"9,318.000",144422,0.065,119.000,40684,0.003,"1,055,909.000",2092873,0.505
7,Castilla - La Mancha,"136,925.000",135194,1.0,"156,295.000",159101,0.982,"204,706.000",218444,0.937,...,0.131,"8,069.000",149518,0.054,112.000,42364,0.003,"825,678.000",1719964,0.48
8,Cataluña,"453,299.000",447196,1.0,"603,482.000",635292,0.95,"706,578.000",837584,0.844,...,0.124,"47,845.000",556316,0.086,854.000,159864,0.005,"2,881,354.000",6531658,0.441
9,C. Valenciana,"293,635.000",276531,1.0,"425,427.000",437862,0.972,"518,422.000",580728,0.893,...,0.122,"21,236.000",352834,0.06,191.000,103049,0.002,"1,853,652.000",4269305,0.434
10,Extremadura,"77,894.000",76005,1.0,"94,980.000",91876,1.0,"125,020.000",125297,0.998,...,0.139,"2,817.000",76088,0.037,73.000,20953,0.003,"452,667.000",911213,0.497
11,Galicia,"239,821.000",234302,1.0,"285,376.000",289762,0.985,"323,942.000",346927,0.934,...,0.118,"6,555.000",152745,0.043,44.000,44014,0.001,"1,225,971.000",2362643,0.519
12,La Rioja,"23,241.000",22207,1.0,"28,330.000",28125,1.0,"35,566.000",37718,0.943,...,0.138,"1,498.000",21170,0.071,10.000,6286,0.002,"130,199.000",270788,0.481
13,Madrid,"369,114.000",364122,1.0,"500,262.000",526081,0.951,"631,145.000",703323,0.897,...,0.129,"32,478.000",479716,0.068,452.000,135861,0.003,"2,471,633.000",5695623,0.434
14,Murcia,"72,914.000",69771,1.0,"98,960.000",102899,0.962,"127,221.000",146909,0.866,...,0.116,"7,577.000",118667,0.064,141.000,34712,0.004,"507,921.000",1237479,0.41
15,Navarra,"42,297.000",41166,1.0,"55,385.000",55792,0.993,"68,175.000",73844,0.923,...,0.137,"3,706.000",48505,0.076,11.000,13906,0.001,"268,606.000",552935,0.486
16,País Vasco,"161,627.000",157950,1.0,"209,329.000",213081,0.982,"263,818.000",280119,0.942,...,0.131,"12,130.000",140323,0.086,42.000,41824,0.001,"940,602.000",1898123,0.496
17,Ceuta,"2,339.000",2605,0.898,"3,720.000",4318,0.862,"6,725.000",7857,0.856,...,0.278,544.000,7581,0.072,8.000,2175,0.004,"30,680.000",66158,0.464
18,Melilla,"1,909.000",2349,0.813,"3,094.000",3748,0.826,"6,131.000",7827,0.783,...,0.313,315.000,8536,0.037,7.000,2324,0.003,"28,863.000",66178,0.436
20,Total España,"2,904,306.000",2834024,1.0,"3,858,107.000",3960045,0.974,"4,794,540.000",5336986,0.898,...,0.133,"226,405.000",3310299,0.068,"2,856.000",949049,0.003,"18,426,204.000",40129822,0.459

In [288]:
ages_column_vax = [col_names[3*i] for i in range(len(col_names))  if 3*i < len(col_names)][:-1]
# ages_column_vax.append('vax1_18-24')
# ages_column_vax.append('vax1_16-17')

In [289]:
oone_vaxne_vax = one.copy()
one_vax.columns = [col.replace(' ', '') for col in one_vax.columns]

In [290]:
o = one_vax[['ccaa'] + ages_column_vax].dropna()
age_vax = o.set_index('ccaa').astype(int)

In [292]:
age_vax.head()

,vax1_≥80,vax1_70-79,vax1_60-69,vax1_50-59,vax1_25-49,18-24,16-17
ccaa,,,,,,,
Andalucía,429873,639607,826677,879900,394963,39420,536
Aragón,100349,116849,142203,122265,63834,6826,62
Asturias,88104,112644,136065,113367,45620,4616,53
Baleares,50353,76117,94320,107617,55530,4453,43
Canarias,90646,145522,201159,215768,123654,8114,87

In [272]:
ages_column = [col_names[1 + 3*i] for i in range(len(col_names))  if 3*i+1 < len(col_names)][:-1]

In [273]:
o = one[['ccaa'] + ages_column].dropna()
age = o.set_index('ccaa').astype(int)

In [229]:
age

,pop_≥80,pop_70-79,pop_60-69,pop_50-59,pop_25-49,pop_18-24,pop_16-17
ccaa,,,,,,,
Andalucía,413516,650381,916147,1265021,3009381,625846,181921
Aragón,98807,118955,156367,198266,446083,89180,25106
Asturias,87826,109249,149652,162645,322095,54179,15563
Baleares,49542,80516,117231,165797,464054,85839,23300
Canarias,90236,154531,235092,350512,832411,163899,44352
Cantabria,41042,53066,77345,89964,194241,34935,10791
Castilla y Leon,223657,245410,318575,381175,738950,144422,40684
Castilla - La Mancha,135194,159101,218444,307478,707865,149518,42364
Cataluña,447196,635292,837584,1091780,2803626,556316,159864
C. Valenciana,276531,437862,580728,752334,1765967,352834,103049
Extremadura,76005,91876,125297,169216,351778,76088,20953
Galicia,234302,289762,346927,405889,889004,152745,44014
La Rioja,22207,28125,37718,47664,107618,21170,6286
Madrid,364122,526081,703323,972783,2513737,479716,135861
Murcia,69771,102899,146909,213256,551265,118667,34712
Navarra,41166,55792,73844,96694,223028,48505,13906
País Vasco,157950,213081,280119,339977,724849,140323,41824
Ceuta,2605,4318,7857,11556,30066,7581,2175
Melilla,2349,3748,7827,11299,30095,8536,2324
Total España,2834024,3960045,5336986,7033306,16706113,3310299,949049

In [222]:
#age.columns = ['80+', '70-79', '60-69', '50-59', '25-49', '18-24', '16-17']

## Normalising

In [293]:
# age.div(age.sum(axis=1), axis=0)

combingin age groups

In [295]:
age2 = age.copy()
age2['pop_70+'] = age2['pop_≥80'] + age2['pop_70-79']
age2['pop_50-69'] = age2['pop_60-69'] + age2['pop_50-59']
age_regrouped = age2[['pop_70+', 'pop_50-69', 'pop_25-49', 'pop_18-24', 'pop_16-17']]

In [297]:
age2_vax = age_vax.copy()
age2_vax['vax1_70+'] = age2_vax['vax1_≥80'] + age2_vax['vax1_70-79']
age2_vax['vax1_50-69'] = age2_vax['vax1_60-69'] + age2_vax['vax1_50-59']
age2_regrouped = age2_vax[['vax1_70+', 'vax1_50-69', 'vax1_25-49', '18-24', '16-17']]

In [298]:
age2_regrouped

                      vax1_70+  vax1_50-69  vax1_25-49   18-24  16-17
ccaa
Andalucía              1069480     1706577      394963   39420    536
Aragón                  217198      264468       63834    6826     62
Asturias                200748      249432       45620    4616     53
Baleares                126470      201937       55530    4453     43
Canarias                236168      416927      123654    8114     87
Cantabria                97311      120093       26276    1826      9
Castilla y Leon         475342      470484      100646    9318    119
Castilla - La Mancha    293220      431889       92388    8069    112
Cataluña               1056781     1427352      348522   47845    854
C. Valenciana           719062      897265      215898   21236    191
Extremadura             172874      228100       48803    2817     73
Galicia                 525197      589114      105061    6555     44
La Rioja                 51571       62280       14840    1498     10
Madrid                  869376     1244737      324590   32478    452
Murcia                  171874      264352       63977    7577    141
Navarra                  97682      136660       30547    3706     11
País Vasco              370956      462595       94879   12130     42
Ceuta                     6059       15713        8356     544      8
Melilla                   5003       14114        9424     315      7
Total España           6762413     9215692     2218838  226405   2856

### Compute difference from national level

In [245]:
# One age group acounts for the portion of in the ccaa's vax population 
a = age_regrouped.div(age_regrouped.sum(axis=1), axis=0)

# Pct difference from the values of Total España
# ccaa - national
a = a - [0.169302,0.308257,0.416302,0.082490,0.023649]

a = a.sort_values(by=['pop_70+'], ascending=False)
def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'hotpink' if val < 0 else 'black'
    return 'color: %s' % color
s = a.style.applymap(color_negative_red).format("{:.2%}")
s

In [254]:
needed_col = ['ccaa','% Con al menos 1 dosis sobre Población a Vacunar INE']
needed_col2 = ['ccaa','% pauta completa sobre Población a Vacunar INE']
progress = pd.merge(one[needed_col], two[needed_col2], on="ccaa")
progress.columns = ['ccaa', 'one_dose_rate', 'two_doses_rate']

In [157]:
# a = age_regrouped.div(age_regrouped.sum(axis=1), axis=0)
# a2 = pd.merge( a, progress, on="ccaa").set_index('ccaa')

In [163]:
# age_national_diff = a2.div(a2.sum(axis=1), axis=0)
# age_national_diff = age_national_diff - [0.169302,0.308257,0.416302,0.082490,0.023649, 0.459, 0.241]

In [165]:
# percentage point difference from national level
a = age_regrouped.div(age_regrouped.sum(axis=1), axis=0)
a = a - [0.169302,0.308257,0.416302,0.082490,0.023649]


a = a.sort_values(by=['70+'], ascending=False)

In [299]:
a = age_regrouped.div(age_regrouped.sum(axis=1), axis=0)
a = a - [0.169302,0.308257,0.416302,0.082490,0.023649]
a2 = pd.merge( a, progress, on="ccaa").set_index('ccaa')

def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'hotpink' if val < 0 else 'black'
    return 'color: %s' % color
a2 = a2.sort_values(by=['pop_70+'], ascending=False)
s = a2.style.applymap(color_negative_red).format("{:.1%}")