Are there any CCAA of more aged population? 

age group

In [200]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

- People with at least 1 dose ≥80 years
- Population INE≥80 years


https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov/documentos/Informe_GIV_comunicacion_20210604.pdf

In [201]:
one = pd.read_excel('../../spreadsheets/informe_20210602.ods', engine="odf", sheet_name=3)
two = pd.read_excel('../../spreadsheets/informe_20210602.ods', engine="odf", sheet_name=4)

- one: data for at least one dose
- two: data for two doses

In [202]:
one = one.rename(columns={"Unnamed: 0": "ccaa"})
two = two.rename(columns={"Unnamed: 0": "ccaa"})

one = one[one['ccaa'] != 'Fuerzas Armadas'].dropna()
two = two[two['ccaa'] != 'Fuerzas Armadas'].dropna()

# Preprocessing

In [212]:
# simplify header names
one.columns = [col.replace('Personas con al menos 1 dosis', 'vax1_').replace('años', '').replace('Población INE', 'pop_').replace(' ','').strip() for col in one.columns]

In [211]:
# NOT WORKING AT ALL WHY???
# one.rename({'%': '≥80_%', 
#                  '%.1': '70-79_%', 
#                 '%.2': '60-69_%', 
#                 '%.3': '50-59_%', 
#                 '%.4': '25-49_%',
#                 '%.5': '18-24_%', 
#                 '%.6': '16-17_%'},inplace=True)

In [213]:
one.head()

,ccaa,vax1_≥80,pop_≥80,%,vax1_70-79,pop_70-79,%.1,vax1_60-69,pop_60-69,%.2,...,%.4,18-24,pop_18-24,%.5,16-17,pop_16-17,%.6,Totalvax1_,Totalpop_PoblaciónaVacunar(1),%Conalmenos1dosissobrePoblaciónaVacunarINE
0,Andalucía,"429,873.000",413516,1.0,"639,607.000",650381,0.983,"826,677.000",916147,0.902,...,0.131,"39,420.000",625846,0.063,536.000,181921,0.003,"3,210,976.000",7062213,0.455
1,Aragón,"100,349.000",98807,1.0,"116,849.000",118955,0.982,"142,203.000",156367,0.909,...,0.143,"6,826.000",89180,0.077,62.000,25106,0.002,"552,388.000",1132764,0.488
2,Asturias,"88,104.000",87826,1.0,"112,644.000",109249,1.0,"136,065.000",149652,0.909,...,0.142,"4,616.000",54179,0.085,53.000,15563,0.003,"500,469.000",901209,0.555
3,Baleares,"50,353.000",49542,1.0,"76,117.000",80516,0.945,"94,320.000",117231,0.805,...,0.12,"4,453.000",85839,0.052,43.000,23300,0.002,"388,433.000",986279,0.394
4,Canarias,"90,646.000",90236,1.0,"145,522.000",154531,0.942,"201,159.000",235092,0.856,...,0.149,"8,114.000",163899,0.05,87.000,44352,0.002,"784,950.000",1871033,0.42

## Select only needed column

In [214]:
col_names = one.columns[1:].to_list()

In [215]:
for i in range(len(col_names)):
    if 3*i+1 < len(col_names):
        print(col_names[1 + 3*i])

pop_≥80
pop_70-79
pop_60-69
pop_50-59
pop_25-49
pop_18-24
pop_16-17
Totalpop_PoblaciónaVacunar(1)

In [219]:
ages_column = [col_names[1 + 3*i] for i in range(len(col_names))  if 3*i+1 < len(col_names)][:-1]

In [220]:
o = one[['ccaa'] + ages_column].dropna()
age = o.set_index('ccaa').astype(int)

In [221]:
age

,pop_≥80,pop_70-79,pop_60-69,pop_50-59,pop_25-49,pop_18-24,pop_16-17
ccaa,,,,,,,
Andalucía,413516,650381,916147,1265021,3009381,625846,181921
Aragón,98807,118955,156367,198266,446083,89180,25106
Asturias,87826,109249,149652,162645,322095,54179,15563
Baleares,49542,80516,117231,165797,464054,85839,23300
Canarias,90236,154531,235092,350512,832411,163899,44352
Cantabria,41042,53066,77345,89964,194241,34935,10791
Castilla y Leon,223657,245410,318575,381175,738950,144422,40684
Castilla - La Mancha,135194,159101,218444,307478,707865,149518,42364
Cataluña,447196,635292,837584,1091780,2803626,556316,159864
C. Valenciana,276531,437862,580728,752334,1765967,352834,103049
Extremadura,76005,91876,125297,169216,351778,76088,20953
Galicia,234302,289762,346927,405889,889004,152745,44014
La Rioja,22207,28125,37718,47664,107618,21170,6286
Madrid,364122,526081,703323,972783,2513737,479716,135861
Murcia,69771,102899,146909,213256,551265,118667,34712
Navarra,41166,55792,73844,96694,223028,48505,13906
País Vasco,157950,213081,280119,339977,724849,140323,41824
Ceuta,2605,4318,7857,11556,30066,7581,2175
Melilla,2349,3748,7827,11299,30095,8536,2324
Total España,2834024,3960045,5336986,7033306,16706113,3310299,949049

In [222]:
#age.columns = ['80+', '70-79', '60-69', '50-59', '25-49', '18-24', '16-17']

In [223]:
age.div(age.sum(axis=1), axis=0)

,pop_≥80,pop_70-79,pop_60-69,pop_50-59,pop_25-49,pop_18-24,pop_16-17
ccaa,,,,,,,
Andalucía,0.059,0.092,0.130,0.179,0.426,0.089,0.026
Aragón,0.087,0.105,0.138,0.175,0.394,0.079,0.022
Asturias,0.097,0.121,0.166,0.180,0.357,0.060,0.017
Baleares,0.050,0.082,0.119,0.168,0.471,0.087,0.024
Canarias,0.048,0.083,0.126,0.187,0.445,0.088,0.024
Cantabria,0.082,0.106,0.154,0.179,0.387,0.070,0.022
Castilla y Leon,0.107,0.117,0.152,0.182,0.353,0.069,0.019
Castilla - La Mancha,0.079,0.093,0.127,0.179,0.412,0.087,0.025
Cataluña,0.068,0.097,0.128,0.167,0.429,0.085,0.024
C. Valenciana,0.065,0.103,0.136,0.176,0.414,0.083,0.024
Extremadura,0.083,0.101,0.138,0.186,0.386,0.084,0.023
Galicia,0.099,0.123,0.147,0.172,0.376,0.065,0.019
La Rioja,0.082,0.104,0.139,0.176,0.397,0.078,0.023
Madrid,0.064,0.092,0.123,0.171,0.441,0.084,0.024
Murcia,0.056,0.083,0.119,0.172,0.445,0.096,0.028
Navarra,0.074,0.101,0.134,0.175,0.403,0.088,0.025
País Vasco,0.083,0.112,0.148,0.179,0.382,0.074,0.022
Ceuta,0.039,0.065,0.119,0.175,0.454,0.115,0.033
Melilla,0.035,0.057,0.118,0.171,0.455,0.129,0.035
Total España,0.071,0.099,0.133,0.175,0.416,0.082,0.024

In [79]:
age2 = age.copy()
age2['70+'] = age2['80+'] + age2['70-79']
age2['50-69'] = age2['60-69'] + age2['50-59']

In [82]:
age_regrouped = age2[['70+', '50-69', '25-49', '18-24', '16-17']]

In [84]:
age_regrouped.div(age_regrouped.sum(axis=1), axis=0)

                           70+     50-69     25-49     18-24     16-17
ccaa
Andalucía             0.150646  0.308850  0.426124  0.088619  0.025760
Aragón                0.192240  0.313069  0.393800  0.078728  0.022163
Asturias              0.218678  0.346531  0.357403  0.060118  0.017269
Baleares              0.131867  0.286965  0.470510  0.087033  0.023624
Canarias              0.130819  0.312984  0.444894  0.087598  0.023705
Cantabria             0.187696  0.333694  0.387410  0.069677  0.021522
Castilla y Leon       0.224126  0.334349  0.353079  0.069007  0.019439
Castilla - La Mancha  0.171105  0.305775  0.411558  0.086931  0.024631
Cataluña              0.165729  0.295387  0.429236  0.085172  0.024475
C. Valenciana         0.167332  0.312243  0.413643  0.082644  0.024137
Extremadura           0.184239  0.323210  0.386055  0.083502  0.022995
Galicia               0.221813  0.318633  0.376275  0.064650  0.018629
La Rioja              0.185872  0.315309  0.397425  0.078179  0.023214
Madrid                0.156296  0.294280  0.441345  0.084225  0.023854
Murcia                0.139534  0.291047  0.445474  0.095894  0.028051
Navarra               0.175352  0.308423  0.403353  0.087723  0.025149
País Vasco            0.195473  0.326689  0.381877  0.073927  0.022034
Ceuta                 0.104643  0.293434  0.454458  0.114589  0.032876
Melilla               0.092130  0.289008  0.454758  0.128985  0.035117
Total España          0.169302  0.308257  0.416302  0.082490  0.023649

In [85]:
age_regrouped.div(age_regrouped.sum(axis=1), axis=0).style.bar(subset=["70+",], color='lightgreen')

In [115]:
# percentage point difference from national level
a = age_regrouped.div(age_regrouped.sum(axis=1), axis=0)
a = a - [0.169302,0.308257,0.416302,0.082490,0.023649]


a = a.sort_values(by=['70+'], ascending=False)
def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'hotpink' if val < 0 else 'black'
    return 'color: %s' % color
s = a.style.applymap(color_negative_red).format("{:.2%}")
s

In [154]:
needed_col = ['ccaa','% Con al menos 1 dosis sobre Población a Vacunar INE']
needed_col2 = ['ccaa','% pauta completa sobre Población a Vacunar INE']
progress = pd.merge(one[needed_col], two[needed_col2], on="ccaa")
progress.columns = ['ccaa', 'one_dose_rate', 'two_doses_rate']

In [157]:
# a = age_regrouped.div(age_regrouped.sum(axis=1), axis=0)
# a2 = pd.merge( a, progress, on="ccaa").set_index('ccaa')

In [163]:
# age_national_diff = a2.div(a2.sum(axis=1), axis=0)
# age_national_diff = age_national_diff - [0.169302,0.308257,0.416302,0.082490,0.023649, 0.459, 0.241]

In [165]:
# percentage point difference from national level
a = age_regrouped.div(age_regrouped.sum(axis=1), axis=0)
a = a - [0.169302,0.308257,0.416302,0.082490,0.023649]


a = a.sort_values(by=['70+'], ascending=False)

In [171]:
a2 = pd.merge( a, progress, on="ccaa").set_index('ccaa')

def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'hotpink' if val < 0 else 'black'
    return 'color: %s' % color
s = a2.style.applymap(color_negative_red).format("{:.1%}")
s

In [ ]:
national level pop rate of the age group - ccaa level pop rate of age group